body {
    background-color: rgb(247, 255, 180);
}

.imglogo {
    width: 100%;
    height: 100%;
}

.imglogo1 {
    width: 100%;
    height: 100%;
}

.obs {
    margin-left: 16px;
    margin-right: 16px;
    background-color: rgb(247, 255, 180);
}

.nadnav {
    width: 100%;
    height: 100%;
}

.navigaciq {
    width: 990%;
    height: 990%;
    float: left;
    background-color: orange;
    display: table-caption;
    text-align: center;
}

.str {
    text-decoration: none;
    color: yellow;
    text-align: center;
    font-size: 31px;
    padding: 29px;
    width: 990%;
    height: 990%;
}

.str:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nadglvnav {
    display: none;
    background-color: orange;
    color: yellow;
    font-size: 36px;
    border-radius: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.nadglvnav:hover {
    color: black;
    font-weight: bold;
}

.btnnav1 {
    background-color: orange;
    color: yellow;
    font-size: 46px;
    border: 0px solid orange;
    border-radius: 0px;
    padding: 32px;
    width: 100%;
    height: 100%;
}

.btnnav1:hover {
    color: black;
    font-weight: bold;
}

.content {
    padding: 1%;
    float: right;
}

.informaciqzml {
    display: none;
}

.content {
    padding: 2%;
}

.video {
    width: 90%;
    height: 90%;
    border-radius: 34px;
    background-color: yellow;
    padding: 1%;
}

.vd {
    width: 80%;
    height: 80%;
    padding: 5%;
}

.video1 {
    width: 98%;
    height: 98%;
    border-radius: 34px;
    background-color: yellow;
    padding: 1%;
}

.glavcontent {
    padding: 1%;
    float: right;
    width: 68%;
    height: 68%;
}

.glavvd {
    width: 66%;
    height: 60%;
    padding: 5%;
}

.vd1 {
    width: 80%;
    height: 80%;
    padding: 5%;
}

.futer {
    width: 96.2%;
    height: 100%;
    float: inline-end;
    display: -webkit-inline-box;
}

footer {
    width: 100%;
    height: 100%;
    background-color: orange;
    color: yellow;
    padding: 2%;
    font-size: 26px;
    text-align: center;
}

.image1 {
    width: 40%;
    height: 40%;
    float: left;
    padding: 1%;
    border-radius: 34px;
}

.image2 {
    width: 40%;
    height: 40%;
    float: right;
    padding: 1%;
    border-radius: 34px;
}

.image3 {
    width: 40%;
    height: 40%;
    float: left;
    padding: 1%;
    border-radius: 34px;
}

.image4 {
    width: 40%;
    height: 40%;
    float: right;
    padding: 1%;
    border-radius: 34px;
}

.image5 {
    width: 40%;
    height: 40%;
    float: left;
    padding: 1%;
    border-radius: 34px;
}

.image6 {
    width: 40%;
    height: 40%;
    float: right;
    padding: 1%;
    border-radius: 34px;
}

.image7 {
    width: 40%;
    height: 40%;
    float: left;
    padding: 1%;
    border-radius: 34px;
}

.image8 {
    width: 40%;
    height: 40%;
    float: right;
    padding: 1%;
    border-radius: 34px;
}

.image9 {
    width: 40%;
    height: 40%;
    float: left;
    padding: 1%;
    border-radius: 34px;
}

.snimki {
    width: 50%;
    height: 50%;
    float: right;
    padding: 2%;
    border-radius: 34px;
}

.snimki1 {
    width: 50%;
    height: 50%;
    float: left;
    padding: 2%;
    border-radius: 34px;
}

.image01 {
    width: 20%;
    height: 20%;
    float: left;
    padding: 1%;
    border-radius: 34px;
}

.image02 {
    width: 20%;
    height: 20%;
    float: left;
    padding: 1%;
    border-radius: 34px;
}

.image03 {
    width: 20%;
    height: 20%;
    float: left;
    padding: 1%;
    border-radius: 34px;
}

.image04 {
    width: 20%;
    height: 20%;
    float: left;
    padding: 1%;
    border-radius: 34px;
}

.informaciqobsht {
    padding: 2%;
    float: right;
    width: 98%;
    height: 98%;
}

.informaciq {
    padding: 2%;
    float: right;
    width: 98%;
    height: 98%;
}

.info1 {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.info2 {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.infoglav {
    width: 51%;
    height: 51%;
    padding: 1%;
    float: right;
}

.glin {
    width: 20%;
    height: 20%;
    padding: 1%;
}

.vsbuttonob {
    width: 100%;
    height: 100%;
}

.buttonob {
    padding: 6%;
    width: 80%;
    height: 80%;
    float: left;
}

.button {
    width: 100%;
    height: 100%;
    float: left;
    color: rgb(255, 255, 255);
    background-color: orange;
    border-radius: 90px;
    border: 8px solid orange;
}

#btsn {
    width: 88%;
    height: 88%;
    color: rgb(255, 255, 255);
    border-radius: 90px;

}

.atr {
    text-decoration: none;
    font-size: 46px;
    padding: 32px;
    color: yellow;
    background-color: orange;
    text-align: center;
    border-radius: 38px;
    width: 50%;
    height: 50%;
    float: right;
}

.atr:hover {
    color: black;
    background-color: orange;
    text-decoration: none;
    font-weight: bold;
}

#atrsn {
    width: 90%;
    height: 90%;
}